SMALL.TINY {
	FONT-SIZE: xx-small
}
SMALL.SCRIPTSIZE {
	FONT-SIZE: xx-small
}
SMALL.FOOTNOTESIZE {
	FONT-SIZE: x-small
}
SMALL.SMALL {
	FONT-SIZE: small
}
BIG.LARGE {
	FONT-SIZE: large
}
BIG.XLARGE {
	FONT-SIZE: x-large
}
BIG.XXLARGE {
	FONT-SIZE: xx-large
}
BIG.HUGE {
	FONT-SIZE: xx-large
}
BIG.XHUGE {
	FONT-SIZE: xx-large
}
